/* Logo Color :#00A8F3 */

html{
    scroll-behavior: smooth;
}

.body{
    margin: 0;
    padding: 0;
}

/* Header */
.navbar{
    background-color: white;
    position:fixed;
}

/* item fonts */
.header a{
    color:black !important;
    font-family: sans-serif;
    font-size: larger;
    /* font-weight: bold; */
}

.header li :hover{
    color: #00A8F3 !important;
}

/* spacing between items */
.header li{
    margin-right: 50px !important;
}

/* image */
.image{ 
    height: auto;
    margin-top: 80px;
    max-width: 100%;
}

/* Carousal */
/* Customer Arena */
.cust_arena{
    text-align: center;
}

@media(max-width:1000px) and (min-width:530px){
    .img-fluid{
        width:100px !important;
        height:100px !important;
    }
}



/* map */
.map{
    position: relative;
    height:inherit;
    width:100%;
    margin-top: -32px;
}


/* footer */
.footer{
    padding: 60px 80px;
    background-color: black;
    color: white;
}
.footer h3{
    color: #00A8F3;
}

.footer p{
    text-align: justify;
}

.footer ul li{
    list-style: none;
}

.footer ul li:hover{
    list-style: none;
    color: #00A8F3;
    cursor:pointer;
}

.footer a{
    text-decoration: none;
    color: white;
}

.footer footer{
    color:white;
}


/* ------------------------------------------------------------------------------------------------------------------------------------ */
/* CONTACT US */

.headerimg{
    background-color: #00A8F3;
    margin-top: 85px;
}

.txt h3{
    color: white;
    padding-left: 50px;
    text-decoration: none;
    font-size: 30px;
}

.txt p{
    color: white;
    padding-left: 50px;
    font-weight: 300;
    margin: 0px;
}

.txt a{
    text-decoration: none;
    color: white;
}

/* @media(max-width:1000px) and (min-width:530px){
    .fa-map-location-dot{
        margin-left: -100px;
    }

    .address{
        margin-left: -110px;
    }

    .fa-phone{
        margin-left: -130px;
    }
    .phone{
        margin-left: -130px;
    }
    } */
    


.contact{
    text-align: center;
    padding-top: 50px;
}

.contact h3{
    text-align: justify;
}
.contact p{
    font-size: large;
    text-align: justify;
}

@media(max-width:600px){
    .contact{
        margin-bottom: -50px;
    }
    .col-md-4{
        padding: 5px;
    }
    .icons{
        padding: 15px;
    }
}

/* ------------------------------------------------------------------------------------------------------------------------------------ */
/* PRODUCTS */

.product-heading{
    background-color:#00A8F3;
}

/* ------------------------------------------------------------------------------------------------------------------------------------ */
/* ABOUT US */

.about-title{
    color:#00A8F3;
}

.gradient-feedback{
    background-image: linear-gradient(to left,#007BFF,black);
}